@font-face {
    font-family: "kashimarusbycop";
    src: url(./fonts/kashimarusbycop.otf);
}

.Info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
}
.barBio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00AB6F;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
.barBio h1{
    font-family: "kashimarusbycop";
    color: #66E275;
    font-size: 45px;
    margin: 5px;
}
.barBio input{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #043A6B;
    color: white;
}
.barBio input:hover{
    background-color: #26537C;
    cursor: pointer;
}
.addBar{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    color: rgba(91, 91, 91, 0.507);
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.079);
    transition: 0.3s;
}
.addBar:hover{
    height: 290px;
    width: 250px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 110px;
    background-color: rgba(0, 0, 0, 0.171);
    color: rgb(91, 91, 91);
}
.popup-overlay{
    background-color: rgba(0, 0, 0, 0.492);
}
#popup-2{
    background-color: #60D6A9;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form>input{
    padding: 5px;
    width: 250px;
}
form>#addBar{
    margin: 20px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color:#26537C;
    color: white;
    font-size: 14px;
    padding: 10px;
}