.menu{
    position: sticky;
    top: -1px;
    height: 100vh;
    background-color: #00AB6F;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.but{
    background-color: #00AB6F;
    width: 200px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
.but:hover{
    background-color: #2bcc94;
}